{
	auto_https off
	admin off
}

:{$PORT} {
	reverse_proxy {$N8N_HOST}:{$N8N_PORT} {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto https
		header_up Connection {header.Connection}
		header_up Upgrade {header.Upgrade}
		header_up Origin https://{host}
		
		flush_interval -1
		
		transport http {
			keepalive 120s
			keepalive_idle_conns 10
		}
	}
}
